@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

body {
  background-color: #FFF;
  font-family: "Open Sans", sans-serif;
}

footer {
  background-color:;
}

.footer-text {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 5px;
}

footer a {
  text-decoration: none;
}

a {
  color: white;
}

h1 {
  background-color: black;
  color: white;
}

h2 {
  text-transform: uppercase;
}

h3 {
  font-size : 15px;
}

nav {
  font-weight: 400;
  list-style-type: none;
  text-align: right;
  text-decoration: none;
  background-color: #070A0B;
}

nav a {
  letter-spacing: 3px;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
}

.artep {
  letter-spacing: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
}

  nav a:hover {
  color: #D16F4A;

  transition: all 0.3s ease-in;

  border-left: transparent 3px
}

.wordmark {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.wordmark2 {
  width: 70px;
  position: absolute;
  left: 2em;
  top: 1.5em;
}

.logo-2 {
  width: 30px;
  text-decoration: none;
}

fieldset {
  border-top: none;
}

.makewhite {
  color: white;
}

.makecenter {
  text-align: center;
}

.hover-box {
  color: #000;
}

.backbutton {
  color: #D16F4A;
  text-transform: lowercase;
  padding-top: 1em;
}

.hover-box-img {
  filter: grayscale(0%);
  transition: all .2s linear;
}

.hover-box:hover .hover-box-img,
.hover-box:focus .hover-box-img {
  filter: grayscale(100);
  transform: scale(1.1);
}

.hover-box:focus {
  z-index: 10;
}

.makespace {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: .5em;
}

.sadface {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 18%;
}

.btn {
  background-color: black;
  border-color: black;
  text-align: center;
  margin: auto;
  color: white
}

.btn:hover {
  background-color: #D16F4A;
  border-color: black;
  text-align: center;
  margin: auto;
}

@media only screen and (min-width: 20em) {

  .show {
    display: inline-block;
    background-color: #fff;
  }

}

@media only screen and (min-width: 38em) {

  .show {
    display: none;
    background-color: #fff;
  }

  .hover-box:hover .show {
    display: inline-block;
  }

}
